<!doctype html>
<html class="" lang="">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="bg-lightBg dark:bg-darkBg transition-colors text-lightText dark:text-darkText">
    {{ partial "nav.html" . }}
    <div class="mx-4">
      {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
      {{ block "main" . }}{{ end }}
    </div>
    {{ partial "footer.html" . }}
    {{ block "footer" . }}{{ end }}
    <script>
      function toggleMobileMenu() {
        var menu = document.getElementById('mobile-menu');
        if (menu.classList.contains('max-h-0')) {
          // Open the menu: remove closed classes and add open classes
          menu.classList.remove('max-h-0', 'opacity-0');
          menu.classList.add('max-h-screen', 'opacity-100');
        } else {
          // Close the menu: remove open classes and add closed classes
          menu.classList.remove('max-h-screen', 'opacity-100');
          menu.classList.add('max-h-0', 'opacity-0');
        }
      }
    </script>
  </body>
</html>