{{ define "main" }}
<div class="flex flex-col items-center justify-center" role="main">
  <div class="">
    <div class="">
      <article role="main" class="prose dark:prose-dark font-body shadow-md dark:shadow-transparent mb-10 bg-white/40 dark:bg-transparent p-8 rounded-xl dark:bg-darkBg">
        {{ .Content }}

        {{ if .Params.tags }}
          <div class="">
            {{ range .Params.tags }}
              <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
            {{ end }}
          </div>
        {{ end }}
        {{ if eq .Type "link" }}
          {{ $datestr := .Site.Params.dateformat | .Date.Format }}
          <div class="flex text-xs">
            {{ $datestr | i18n "foundOnDate"}}&nbsp;
            {{ if .Params.via }}
            <a href="{{ .Params.via }}">(via {{ .Params.prettyvia }})</a>
             {{ end }}
          </div>
          {{ end }}
        </article>
    </div>
  </div>
</div>
{{ end }}