<footer class=" bg-white/90 dark:bg-darkBg p-2 shadow-lg ">
  <div class="container mx-auto px-2">
<div class="flex items-center justify-center h-16">
      {{ if .Site.Author.name }}
        {{ if .Site.Author.website }}
          <a href="{{ .Site.Author.website }}" class="underline">{{ .Site.Author.name }}</a>
        {{ else }}
          {{ .Site.Author.name }}
        {{ end }}
      {{ end }}

      &nbsp;&bull;&nbsp;&copy;
      {{ if .Site.Params.since }}
        {{ .Site.Params.since }} - {{ .Site.LastChange.Format "2006" }}
      {{ else }}
        {{ .Site.LastChange.Format "2006" }}
      {{ end }}

      {{ if .Site.Title }}
        &nbsp;&bull;&nbsp;
        <a href="{{ "" | absLangURL }}" class="text-xl font-heading text-lightAccentRed dark:text-darkAccentOrange">{{ .Site.Title }}</a>
      {{ end }}
  </div>
</div>
</footer>
