<article class="prose dark:prose-dark pb-6 shadow-md dark:shadow-transparent mb-4 bg-white/40 dark:bg-transparent p-4 rounded-xl">
    <a href="{{ .Params.originurl }}">
        <div class="flex items-center justify-center space-x-2">
            <h2 class="font-heading text-5xl mt-8 text-center">
                {{ .Title }}
            </h2>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-8 h-8 mb-4">
                <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/>
                <polyline points="15 3 21 3 21 9"/>
                <line x1="10" y1="14" x2="21" y2="3"/>
            </svg>
        </div>
    </a>
    <div class="font-body">
        {{ .Params.originauthor }}
    </div>
</article>
