<nav class="flex">
    <div class="flex space-x-4">
      <div class="">
        <button type="button" class="" data-toggle="collapse" data-target="#main-navbar">
          <span class="">{{ i18n "toggleNavigation" }}</span>
          <span class=""></span>
          <span class=""></span>
          <span class=""></span>
        </button>
        <a class="" href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
      </div>
  
      <div class="">
        <ul class="flex space-x-4">
            {{ range .Site.Menus.main.ByWeight }}
            {{ if .HasChildren }}
              <li class="">
                <a class="">{{ .Name }}</a>
                <div class="">
                  {{ range .Children }}
                    <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                  {{ end }}
                </div>
              </li>
            {{ else }}
              <li>
                <a title="{{ .Name }}" href="{{ .URL  | relLangURL }}">{{ .Name }}</a>
              </li>
            {{ end }}
          {{ end }}
          <li>
            <button 
            class="px-4 py-2 bg-lightButton dark:bg-darkButton text-black rounded hover:bg-opacity-80"
            onclick="document.documentElement.classList.toggle('dark')"
          >
            Toggle Dark
          </button>
          </li>
        </ul>
      </div>  
    </div>
  </nav>