<span class="flex md:flex-row flex-col mt-3  items-center justify-center text-lightAccentRed dark:text-darkAccentOrange text-sm">
  {{ $lastmodstr := .Site.Params.dateformat | .Lastmod.Format }}
  {{ $datestr := .Site.Params.dateformat | .Date.Format }}
  {{ if eq .Type "post" }}
  <div class="md:pr-2">&nbsp;{{ $datestr | i18n "postedOnDate"}}</div> //
  {{ end }}  
  {{ $taxonomy := "categories" }}
    <div class="md:pl-2">
    {{ with .GetTerms $taxonomy }}
        {{ (site.GetPage $taxonomy).LinkTitle }}:
        {{ range $k, $_ := . -}}
          {{ if $k }}, {{ end }}
          <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        {{- end }}
    {{ end }}  
  </div>
</span>
